@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Orbitron:wght@400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Orbitron:wght@400;600;700&display=swap");

.titulo-fuente {
  font-family: "RussoOne", sans-serif;
}

.titulo-orbitron {
  font-family: "Orbitron", sans-serif;
}

.subtitulo-fuente {
  font-family: "Oswald", sans-serif;
}

.parrafo-fuente {
  font-family: "Montserrat", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
