.hiddenzitoPues {
  display: none;
  color: aqua;
  background-color: blue;
}


.headerx {
  background-color: #000b46; 
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 62px;
  z-index: 9999;
  position: fixed;
}



.container {
   /* Replace with the desired gray color value (#1d1d1d is an example) */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: row;
}


.join {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 80px;
}





@media  (max-width: 900px) {

  .container {
   
    justify-content: space-between;
    margin: 0 auto;
    height: 62px;
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
 
    padding-left: 10px;
    padding-right: 0px;
    flex-direction: row;

  }


  .join {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 0px;
  }




}

body a.as {
  background-color: greenyellow;
}

.as:hover {
  background-image: -webkit-linear-gradient(to bottom left, #dc2626, #9333ea); /* Sustituye los colores aquí */
  background-image: -moz-linear-gradient(to bottom left, #dc2626, #9333ea); /* Sustituye los colores aquí */
  background-image: linear-gradient(to bottom left, #dc2626, #9333ea); /* Sustituye los colores aquí */
}


#whatsappButton {
  position: fixed;
  bottom: 2rem;
  right: 2rem; 
  font-size: 50px;
  background-color: #25D366; /* Color de fondo verde de WhatsApp */
  color: #FFFFFF;
  border-radius: 100%; /* Bordes redondeados */
  text-decoration: none; /* Eliminar subrayado en el enlace */
  transition: background-color 0.3s ease
}

#whatsappButton:hover {
  transform: scale(1.3); /* Al hacer hover, hacemos crecer el icono al 150% de su tamaño original */
}



@media  (max-width: 600px) {

  .container {
   
    justify-content: space-between;
    margin: 0 auto;
    height: 62px;
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
 
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: row;
 

  }

  .join {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 40px;
  }


}